a {
    text-decoration: none;
    font-size: 20px;
    color:black;
}

button {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color:white;
    border: 1px solid rgb(199, 196, 196);
    height: 30px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

button:hover{
    background-color: rgb(233, 233, 233);
    transition:0.5s;
}
